.cards {
  margin-top: 80px;
}

@include breakpoints(xl) {
  .cards {
    margin-top: 60px;
  }
}
@include breakpoints(md) {
  .cards {
    margin-top: 40px;
  }
}

%card {
  border: none;
  background-color: $color-white;
  .card-header {
    all: unset;
    font-weight: 700;
    font-size: 8rem;
    line-height: 24px;
    text-align: end;
    margin-bottom: 50px;
    display: block;
  }
  .card-icon {
    background-color: $color-white-99;
    border: 1px solid $color-white-95;
    border-radius: 8px;
    height: 74px;
    width: 74px;
    margin-left: auto;
    display: flex;
  }
  .card-img {
    aspect-ratio: 4 / 2;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
  }
  .card-sub-title {
    font-weight: 500;
    font-size: 2rem;
    line-height: 25.3px;
  }

  .card-title {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 36px;
    margin-bottom: 14px;
  }
  .card-text {
    color: $color-gray-30;
    margin-bottom: 50px;
  }
  .badge {
    border: 1px solid $color-white-95;
    border-radius: 6px;
    color: $color-gray-30;
    margin: 0;
    padding: 10px 16px;
  }
  .card-btn {
    background-color: $color-white-97;
    border: 1px solid $color-white-95;
    padding-block: 18px;
    font-weight: 500;
  }

  @include breakpoints(xl) {
    .card-title {
      margin-bottom: 10px;
      font-size: 2rem;
    }
    .card-sub-title {
      font-size: 1.6rem;
      line-height: 20.24px;
    }
    .badge {
      padding: 8px 14px;
    }
    .card-text {
      margin-bottom: 40px;
    }
  }
  @include breakpoints(md) {
    .card-text {
      margin-bottom: 30px;
    }
    .card-sub-title {
      font-size: 1.8rem;
      line-height: 20.24px;
    }
  }
  @media (max-width: 409px) {
    .card-sub-title {
      text-align: start !important;
    }
  }
}

.card-num {
  @extend %card;
  padding: 50px;
  @include breakpoints(xl) {
    padding: 40px;
    .card-header {
      margin-bottom: 40px;
      font-size: 6rem;
    }
    .card-icon {
      height: 54px;
      width: 54px;
    }
  }
  @include breakpoints(md) {
    padding: 30px;
    .card-header {
      margin-bottom: 30px;
      font-size: 5rem;
    }
  }
  .btn-white {
    margin-top: 20px;
  }
}
.card-image {
  @extend %card;
  padding: 50px;
  border: 1px solid $color-white-95;
  border-radius: 12px;
  .card-title {
    margin-top: 30px;
  }
  @include breakpoints(xl) {
    padding: 40px;
  }
  @include breakpoints(md) {
    padding: 24px;
  }
}
.card-story {
  border: none;
  background-color: $color-white;
  border: 1px solid $color-white-95;
  border-radius: 10px;
  .card-title {
    padding: 50px;
    color: $color-gray-30;
  }
  .user-info {
    padding: 30px 50px;
    background-color: $color-white-99;
    display: flex;
    align-items: center;
    gap: 1rem;
    .img-story {
      aspect-ratio: 1 / 1;
      object-position: center;
      border-radius: 8px;
      width: 60px;
      height: auto;
    }
    .name {
      font-weight: 600;
    }
    .btn-white {
      background-color: $color-white-97;
      margin-left: auto;
    }
  }
  @include breakpoints(xl) {
    .card-title {
      padding: 40px;
    }
    .img-story {
      border-radius: 6px;
      width: 50px;
    }
    .user-info {
      padding: 24px 40px;
    }
  }
  @include breakpoints(md) {
    .card-title {
      padding: 30px;
    }
    .user-info {
      padding: 20px 30px;
      .name {
        font-size: 1.6rem;
        line-height: 24px;
      }
      .btn-white {
        padding: 14px 16px;
      }
    }
  }
}
// content-plans
.content-plans {
  padding: 80px;
  background-color: $color-white;
  .plan {
    background-color: $color-white-99;
    padding: 30px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    border-radius: 12px;
  }
  @include breakpoints(xl) {
    padding: 50px;
    .plan {
      padding: 24px;
      padding-top: 40px;
    }
  }

  .plan-title {
    background-color: $color-orange-97;
    border: 1px solid $color-orange-90;
    border-radius: 6px;
    font-size: 2.2rem;
    padding-block: 12px;
  }
  @include breakpoints(md) {
    padding: 20px;
    .plan {
      padding: 20px;
      padding-top: 30px;
    }
    .plan-title {
      padding-block: 8px;
    }
  }
  .price {
    .customize {
      color: $color-gray-30;
      font-size: 2rem;
    }
  }
  .available-features {
    background-color: $color-white;
    padding: 40px;
    padding-bottom: 0;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
  }
  .head-features {
    font-weight: 500;
    font-size: 2rem;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .features-lists {
    list-style: none;
    padding-inline: 30px;
    padding-bottom: 40px;
    margin: 0;
  }
  .features-list-items {
    text-align: start;
    padding: 14px;
    border: 1px solid $color-white-95;
    border-radius: 8px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    .icon-box {
      background-color: #fff4e5;
      width: 32px;
      height: 32px;
      border-radius: 6px;
      margin-right: 12px;
      svg {
        width: 10px;
        height: 10px;
      }
      &.false {
        background-color: transparent;
        border: 1px solid $color-white-95;
        border-radius: 6px;
      }
    }
  }
  .plan-btn {
    width: 100%;
    border-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: 600;
  }
  @include breakpoints(xl) {
    .plan-title {
      font-size: 1.8rem;
      padding-block: 10px;
    }
    .plan-text {
      font-size: 1.8rem;
      line-height: 27px;
    }
    .available-features {
      padding: 30px;
      padding-bottom: 0;
    }
    .head-features {
      margin-bottom: 24px;
    }
    .features-lists {
      padding-bottom: 30px;
    }
    .features-list-items {
      .icon-box {
        margin-right: 8px;
      }
    }
  }
  @include breakpoints(md) {
    .plan-title {
      font-size: 1.6rem;
      padding-block: 8px;
    }
    .available-features {
      padding: 20px;
      padding-bottom: 0;
    }
    .features-lists {
      padding-inline: 0;
      padding-bottom: 20px;
    }
    .head-features {
      margin-bottom: 20px;
    }
  }
}

// accordion

.accordion {
  .accordion-item {
    background-color: $color-white;
    border: 1px solid $color-white-95 !important;
    border-radius: 12px;
    padding: 50px 30px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    @include breakpoints(md) {
      .accordion-item {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }
  .accordion-button {
    justify-content: space-between;
    padding: 0;
    gap: 15px;
    box-shadow: none;
    border-color: $color-white-95;
    @extend .sub-head;
    &:not(.collapsed) {
      padding-bottom: 24px;
      border-bottom: 1px solid $color-white-95;
      background-color: transparent;
      color: $color-gray-15;
      .icon-box {
        svg {
          transform: rotate(225deg);
        }
      }
    }
    .icon-box {
      background-color: $color-orange-95;
      border-radius: 8px;
      width: 52px;
      height: 52px;
      svg {
        transition: all 150ms linear;
      }
    }
    &::after {
      display: none;
    }
    &:focus {
      box-shadow: none;
    }
  }
  .accordion-body {
    .text {
      color: $color-gray-30;
    }
    .accordion-body-text {
      margin-block: 50px;
    }
    .alert {
      background-color: $color-white-97;
      border: 1px solid $color-white-95;
      padding: 20px 30px;
      display: flex;
      margin: 0;
      justify-content: space-between;
      align-items: center;
      .icon-box {
        cursor: pointer;
        min-width: 56px;
        width: 56px;
        height: 56px;
        background-color: $color-white;
        border-radius: 50%;
      }
    }
  }
  @include breakpoints(xl) {
    .accordion-item {
      padding: 40px;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    .accordion-button {
      .icon-box {
        min-width: 44px;
        width: 44px;
        width: 44px;
        height: 44px;
        svg {
          width: 14.83px;
          height: 14.83px;
        }
      }
      &:not(.collapsed) {
        padding-bottom: 20px;
      }
    }
    .accordion-body {
      .accordion-body-text {
        margin-block: 40px;
      }
      .alert {
        padding: 16px 24px;
        .icon-box {
          width: 48px;
          height: 48px;
          svg {
            width: 12px;
            height: 12px;
          }
        }
      }
    }
  }
  @include breakpoints(md) {
    .accordion-item {
      padding: 24px;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    .accordion-button {
      .icon-box {
        min-width: 40px;
        width: 40px;
        height: 40px;
        svg {
          width: 12.36px;
          height: 12.36px;
        }
      }
      &:not(.collapsed) {
        padding-bottom: 20px;
      }
    }
    .accordion-body {
      .accordion-body-text {
        margin-block: 20px;
      }
      .alert {
        padding: 12px 20px;
        .icon-box {
          width: 40px;
          height: 40px;
          svg {
            width: 10px;
            height: 10px;
          }
        }
      }
    }
  }
}
